@font-face {
    font-family: FranchiseBold;
    src: url(../fonts/FranchiseBold.ttf);
}
@font-face {
    font-family: BEBAS;
    src: url(../fonts/BEBAS.TTF);
}
@font-face {
    font-family: angelina;
    src: url(../fonts/angelina.TTF)
}
body {
    font-family: Arial;
} 
.content-auto {
    width: 950px;
    margin: 0 auto;
}
.head-fon {
    background-color: #fef7e9;
    height: 125px;
}
.head-search {
    margin: 45px 0 0;
}
.head-search form input[type='text'] {
    height: 25px;
    width: 155px;
    border: 1px solid #e3ddd0;
    background-color: #fef7e9;  
}
.head-search form input[type='submit'] {
    height: 27px;
    width: 60px;    
    background-color: #413f33;
    border: initial;
    margin: 0 0 0 -4px;
    color: #fef7e9;
    font-family: Arial;
}
.head-search form input[type='submit']:hover {
    background-color: #4e4d44;
    cursor: pointer;
}
.logo {
    float: left;
    margin: 25px 0 0 0;
    width: 270px;
}
.head-search {
    float: right;
}
.logo h1 {
    float: left;
    font-size: 60px;
    color: #e54c10;
    font-family: FranchiseBold;
}
.logo img {
    margin: 13px 10px 0 0;
    float: left;
}
.head-menu-fon {
    background-color: #e54c10;
}
.head-menu img {
    float: left;
}
.head-menu ul {
    float: left;
    margin: 11px 0 0 0px;
}
.menu > li > a {
    color: #333126;
    padding: 10px 25px 13px 25px;
    border-top: 1px solid #c14e20;
    border-right: 1px solid #c14e20;   
}
.head-menu > ul > li {
    float: left;
    font-family: BEBAS;
    
}
.clear {
    clear: both;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #fef7e9;
    top: 159px;
}
.dropdown-menu a {
    color: #acaa9f;
    padding: 10px 20px;
    display: block;
}
.menu p {
    color: #fef7e9;
    position: absolute;
    display: none;
    top: 156px;
    left: 552px;
    font-size: 12px;
}
.dropdown-menu a:hover {
    color: #3a382d;
}
.menu li:hover .dropdown-menu {
    display: block;
}
.menu li:hover p {
    display: block;
}
.nav-left {
    float: left;
}
.nav-rifht {
    float: right;
}
.nav-fon {
    background-color: #3a382d;
    height: 406px;
}
.num > ul {
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing: -1px;
}
.num ul li {
    display: inline-block;
    background-image: url(../images/slide-backg-1.jpg);
    background-repeat: no-repeat;
    width: 56px;
    height: 66px;
    text-align: center;
}
.num ul li a {
    font-size: 27px;
    padding: 28px 10px;
    display: block;
    color: #beb9b0;
    font-family: Arial;
}
.num .num-activ {
    background-image: url(../images/slide-backg-2.jpg);

}
.num .num-activ a {
    color: #333126;
    outline: none;
}
.num .num-pass {
    background-image: url(../images/slide-backg-1.jpg);
}
.num-content {
    height: 180px;
}
.num-content p {
    font-size: 24px;
    font-family: BEBAS;
    color: #edebe6;
}
.num-content-1 {
    padding: 35px 0 0 685px;
}
.num-content-2 {
    display: none;
    padding: 35px 0 0 685px;
}
.num-content-3 {
    display: none;
    padding: 35px 0 0 685px;
}
.num-content-4 {
    display: none;
    padding: 35px 0 0 685px;
}
.num-content-5 {
    display: none;
    padding: 35px 0 0 685px;
}
.num-content-bottom p {
    color: #b0c2aa;
    font-family: BEBAS;
    padding: 0 0 94px 685px;
}
.content-fon {
     background-color: #fef7e9;
}
.content-top {
    padding: 65px 0 50px 0;
    border-bottom: 1px solid #d4cec2;

}
.content-top div {
    display: inline-block;
    margin: 0 14px 0 0;
    vertical-align: top;
    color: #3d3b30;
    width: 220px;
}
.content-top div h1 {
    font-family: BEBAS;
    margin-top: 15px;
}
.content-top div p {
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
}
.content-top button {
    border: initial; 
    border: 1px solid #9d9b97;
    background-color: #fef7e9;
    width: 70px;
    font-family: Arial;
    height: 25px;
    color: #353331;
}
.content-top button:hover {
    color: #fef7e9;
    background-color: #413f33;
    cursor: pointer;
}
.content-bottom {
    padding-bottom: 30px;
}
.content-bottom h1 {
    color: #3d3b30;
    font-family: BEBAS;
    margin-top: 50px;
}
.content-bottom .content-bottom-circles-left, 
.content-bottom .content-bottom-circles-center, 
.content-bottom .content-bottom-circles-right {
    margin: 30px -28px 0 0;
    background-color: #413f33;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
}
.content-bottom div div img {
    margin: 34px 0 0 85px;
}
.content-bottom .transparent {
    opacity: 0.71;
    position: relative;
    top: -61px;
}
.content-bottom div div h1 {
    font-family: angelina;
    font-size: 34px;
    color: #b0c2aa;
    margin: 7px 0 0 40px;
}
.content-bottom p {
    font-family: Arial;
    color: #b0c2aa;
    font-size: 13px;
    margin: 12px 0 0 0px;
    text-align: center;
}
.content-bottom .content-bottom-circles-center {
    background: rgba(0,189,0,0.04);
}
.content-bottom-center {
    index: 9999;
}
.content-bottom-circles-center p {
    color: #231f20;
}
.content-bottom .content-bottom-circles-right {
    background: rgba(0,189,0,0.04);
}
div .content-bottom-circles-center h1 {
    color: #231f20;
}
.content-bottom-circles-right p {
    color: #231f20;
}
div .content-bottom-circles-right h1 {
    color: #231f20;
    margin: 0 0 0 43px;
}
div .content-bottom-circles-right img {
    margin: 38px 0 0 85px;
}
.content-bottom-circles {
    float: left;
    width: 670px;
}
.success-stories-fon {
    background-image: url(../images/success-stories-fon.jpg);
    float: right;
    width: 280px;
}
.content-bottom-headers h1 {
    display: inline-block;
}
.content-bottom-headers h1:nth-child(1) {
    margin-right: 531px;
}
.success-stories {
    margin-top: 30px;
}
.success-stories-fon p {
    font-size: 15px;
    font-style: italic;
    line-height: 20px;
    padding: 47px 0 71px 31px;
    text-align: justify;
}
.success-stories a {
    color:#231f20;
    font-style: italic;
    margin-left: 70px;
}
.subsrcibe form input[type='submit'] {
    border: initial;
    background-color: #413f33;
    color: #9da49a;
    padding: 4px 6px;
    border: 1px solid #e4e4e4;
    margin-left: -4px;
}
.subsrcibe form input[type='submit']:hover {
    background-color: #4e4d44;
    cursor: pointer;
}
.subsrcibe-fon {
    background-color: #e54c10;
}
.subsrcibe div {
    height: 60px;
    background-color: #413f33;
    width: 282px;
    margin-left: 668px;
}
.subsrcibe form {
    padding: 16px 0 0 20px;
}
.subsrcibe form input[type='text'] {
    border: initial;
    background-color: #525043;
    border: 1px solid #5c5a4c;
    height: 26px;
    width: 161px;
}
.footer-top-fon {
    background-color: #413f33;
    padding-bottom: 50px;
}
.footer-top-left {
    width: 777px;
}
.footer-top-left > ul > li {
    display: inline-block;
    margin-right: 53px;
    vertical-align: top;
}
.footer-top-left > ul > li h1 {
    color: #fef7e9;
    font-family: BEBAS;
    margin-bottom: 20px;
    
}
.footer-top-left > ul > li {
    color: #fef7e9;
    font-family: arial;
    line-height: 25px;
}
.footer-top-left > ul > li > ul >li {
    letter-spacing: 1px;
    list-style-image: url(../images/li-bg.jpg);
    margin-left: 15px;
    font-size: 12px;
}
.footer-top-left,
.footer-top-right {
    display: inline-block;
    padding-top: 50px;
    vertical-align: top;
}
.footer-top-right {
    padding-top: 97px;
}
.footer-top-right a {
    color: #b1aeab;
    font-size: 12px;
    margin: 0 12px 0 0;
}
.footer-top-right img {
    position: relative;
    top: 3px;
}
.footer-top-right li {
    margin-bottom: 10px;
}
.footer-bottom-fon {
    background-color: #fef7e9;
    font-size: 12px;
    color: #413f33;
    height: 55px;
}
.footer-bottom-fon p {
    padding-top: 20px;
}
@media screen and (max-width: 400px) {
    .logo {
        width: 350px;
    }
} 		